.markdown {
  @apply text-lg leading-relaxed;
}

.markdown h2 {
  @apply font-bold text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply font-bold text-2xl mt-8 mb-4 leading-snug;
}
.markdown a:hover {
  @apply underline;
  @apply decoration-red;
}

.markdown lic p {
  @apply list-item;
  @apply list-inside;
  @apply list-disc;
}

.markdown [aria-hidden="true"] {
  display: none;
}
